[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=true
Name=PDF Merging Page Pairs
Categories=Graphics;2DGraphics;RasterGraphics;
Icon=/home/WRITE_USER/Applications/PDFmergingPagePairs/icon.png
Exec=/home/WRITE_USER/Applications/PDFmergingPagePairs/pdf_merging _page_pairs.sh
